@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wrapper {
    border: 0px black solid;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: auto;
    overflow: hidden;
    justify-content: center;
}

.half {
    align-content: stretch;
    border: 0px solid black;
    width: 400px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    overflow: hidden scroll;
    margin-top: 10px;
    min-width: 300px;
    background: whitesmoke;
}

.half:last-of-type {
    width: 200px;
    height: 450px;
    background: white;
    border: 2px whitesmoke solid;
    margin: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.head {
    height: 150px;
    width: 140px;
    border: 0px black solid;
    align-items: flex-start;
    margin: 10px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    font-family: 'Rubik Mono One', sans-serif;
    color: grey;
    stroke: black;
}

#resume {
    height: auto;
    width: 400px;
    border: 2px black solid;
    margin: 10px;
    align-items: flex-start;
    background: white;
}

.s_window {
    height: 150px;
    width: 148px;
    border: 2px red solid;
    margin: 10px;
    align-items: center;
}

.w_window {
    height: 150px;
    width: 148px;
    border: 2px whitesmoke solid;
    margin: 10px;
    align-items: center;
}

#projects {
    height: 200px;
    width: 325px;
    border: 2px black solid;
    margin: 10px;
}

#projects:last-of-type {
    height: 200px;
    width: 325px;
    border: 2px whitesmoke solid;
    margin: 10px;
}

.A {
    background: grey;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.resume_summary {
    height: 100px;
    width: 100%;
    border: black 0px solid;
    box-sizing: border-box;
    background: grey;
    margin-bottom: 10px;
}

.space {
    border: 2px solid black;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box_1 {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    box-sizing: border-box;
}

.summ {
    height: 100px;
    width: 272px;
    border: 2px solid black;
    box-sizing: border-box;
}

.highlights {
    height: 160px;
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}